/* 초기화 */
html,body{padding: 0; margin: 0;}
li,ul{
    list-style: none;}
a{color: #111; text-decoration: none;}


 
 .white{ color: #efebe4 } 
.black{ color: #111;} 

/*공통 클래스  */
.h-auto{height: auto;}
.h-10{height: 10%;} .h-3vh{height: 3vh;}
.h-30{height: 30%;} .h-20vh{height: 20vh;}
.h-50{height: 50%;} .h-100vh{height: 100vh;}
.h-70{height: 70%;} .h-30vh{height: 30vh;}
.h-100{height: 100%;}   .h-50vh{height: 50vh;}

.t-50{top:50%}
.l-50{left: 50%;}
.r-50{right: 50%;}
.b-50{bottom: 50%;}

.w-auto{width: auto;} .w-30vh{width: 30vw;}
.w30{width: 30%;}   .w-50vh{width: 50vw;}
.w50{width: 50%;}   .w-70vh{width: 70vw;}
.w70{width: 70%;}   .w-100vh{width: 100vw;}
.w100{width: 100%;}

.custom-bg{
    background: #efebe4;
}
.wrap{}
/* 폰트 */
.fs{font-size: 23px; font-weight: 550; }    .fw-100{font-weight: 100;}
                                            .fw-300{font-weight: 300;}
                                            .fw-500{font-weight: 500;}
                                            .fw-700{font-weight: 700;}

/* 네비게이션 */
#navi{
    width: 100%;
    border-bottom: solid 1px seashell;
    background-color: transparent;
    transition: 0.5s;
}
#navi{
    width: 100%;
    border-bottom: solid 1px seashell;
    background-color: transparent;
    
}
#navi.scrolling {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
  }
.navbar{

}
/* #gnb > li > a{
    color: aliceblue;
} */

.text-black{
    color: black;
    font-weight: 300;
}

/* 스와이퍼 */
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }

  .swiper-slide img {
    display: block;
    width: 50%;
  }




/* 메인 컨텐츠 */
#main_content_1{
    background: url(/img/portfolioimg/CK_ti325011676.jpg) no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    
}
#main_content_2{
    /* background: url(/img/portfolioimg/CK_cm080933568.jpg) no-repeat; */
    background-size: cover;
    width: 100vw;
    height: 100vh;
    
}
#myskill{
    
    background-size: cover;
    width: 100vw;
    height: 100vh;
    
    
}

#main_container{
    width: auto;
    height: 100%;    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#main_container h1{
    font-size: 78px;
    position: relative;
}
.profile{        
        height: 20vh;
        width: 20vw;
        border-radius: 50%;
        transition: 0.5s;
}
.profile:hover{        
    height: 22vh;
    width: 22vw;
    border-radius: 50%;
    transition: 0.5s;
    
}
/* 형광펜 밑줄 효과 */
#main_container h1:before{
    content: "";
    position: absolute;
    left:0; top:30%; bottom:25%;
    width:0;
    background-color:rgba(255,255,0,0.5);
    transition: width 0.5s;
    transition-delay: 0.5s;
}

#main_container.aos-animate h1:before{
    width:100%;
}
/* 형광펜 밑줄 효과 */
#main_container .yellowbar h2 span:before{
    content: "";
    position: absolute;
    left:0; top:30%; bottom:25%;
    width:0;
    background-color:rgba(255,255,0,0.5);
    transition: width 0.5s;
    transition-delay: 0.5s;
}

#main_container.aos-animate .yellowbar h2 span:before{
    width:100%;
}

/* 스와이퍼 스크롤 css */
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    font-size: 18px;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 30px;
  }
  /*contact  */
  
