@font-face {
    font-family: "plante";
    src: url(/css/font/Plante.ttf);
}
@font-face {
    font-family: "cm33000009";
    src: url(/css/font/CK_cm33000009.ttf);
}
@font-face {
    font-family: "The 푸딩W";
    src: url(/css/font/CK_cm220124.ttf);
}
/* 초기화 */
html,body{padding: 0; margin: 0;}
li,ul{
    list-style: none;}
a{color: #111; text-decoration: none;}


 
 .white{ color: #efebe4 } 
.black{ color: #111;} 

/*공통 클래스  */
.h-auto{height: auto;}
.h-10{height: 10%;} .h-3vh{height: 3vh;}
.h-30{height: 30%;} .h-20vh{height: 20vh;}
.h-50{height: 50%;} .h-100vh{height: 100vh;}
.h-70{height: 70%;} .h-30vh{height: 30vh;}
.h-100{height: 100%;}   .h-50vh{height: 50vh;}

.t-50{top:50%}
.l-50{left: 50%;}
.r-50{right: 50%;}
.b-50{bottom: 50%;}

.w-auto{width: auto;} .w-30vh{width: 30vw;}
.w30{width: 30%;}   .w-50vh{width: 50vw;}
.w50{width: 50%;}   .w-70vh{width: 70vw;}
.w70{width: 70%;}   .w-100vh{width: 100vw;}
.w100{width: 100%;}

.custom-bg{
    background: #efebe4;
}
.wrap{}
/* 폰트 */
.fs{font-size: 23px; font-weight: 550; }    .fw-100{font-weight: 100;}
                                            .fw-300{font-weight: 300;}
                                            .fw-500{font-weight: 500;}
                                            .fw-700{font-weight: 700;}
.ffplante{
    font-family: "plante";
    font-weight: 300;
}
.ffcm{
    font-family: "cm33000009";
    font-weight: 300;
}
.ffTHe{
    font-family: "The 푸딩W";
    font-weight: 300;
}
/* 네비게이션 */
#navi{
    width: 100%;
    border-bottom: solid 1px seashell;
    background-color: transparent;
    transition: 0.5s;
}
#navi{
    width: 100%;
    border-bottom: solid 1px seashell;
    background-color: transparent;
    
}
#navi.scrolling {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
    
  }
.navbar{

}


.text-black{
    color: black;
    font-weight: 300;
}

/* 스와이퍼 */
.swiper {
    width: 100%;
   
   
  }

  .swiper-slide {
    background-position: center;
    background-size: 111ver;
    width: 300px;
    height: 300px;
  }
.swiper-slide > img{
    width: 10vw;
    height: auto;
    
    background: center;}



/* 메인 컨텐츠 */
#main_content_1{
    /* background: url(/img/portfolioimg/CK_ti325011676.jpg) no-repeat; */
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-color: #111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#work{
    /* background: url(/img/portfolioimg/CK_cm080933568.jpg) no-repeat; */
    background-size: cover;
    width: 100vw;
    height: 100vh;
    
}
#myskill{
    background-color: #111;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    
    
}

#main_container{
    /* position: absolute;
    top: 5%; */
   
  
}

#main_container h1{
    font-size: 78px;
    position: relative;
    }
#about{
    height: 100vh;
    width: 100vw;
    background-color: #111
}
#about h2{font-weight: 500;
        font-size: 4rem;
        color: #efebe4;
}
.profile{        
        height: 20vh;
        width: 20vw;
        border-radius: 50%;
        transition: 0.5s;
        
}
.profile:hover{        
    height: 22vh;
    width: 22vw;
    border-radius: 50%;
    transition: 0.5s;
    background: url(/img/portfolioimg/CK_cb036194870.jpg) ;
        background-size: cover;
    
}
/* 형광펜 밑줄 효과 */
#main_container h1:before{
    content: "";
    position: absolute;
    left:0; top:30%; bottom:25%;
    width:0;
    background-color:rgba(255,255,0,0.5);
    transition: width 0.5s;
    transition-delay: 0.5s;
}

#main_container.aos-animate h1:before{
    width:100%;
}
/* 형광펜 밑줄 효과 */
#main_container .yellowbar h2 span:before{
    content: "";
    position: absolute;
    left:0; top:30%; bottom:25%;
    width:0;
    background-color:rgba(255,255,0,0.5);
    transition: width 0.5s;
    transition-delay: 0.5s;
}

#main_container.aos-animate .yellowbar h2 span:before{
    width:100%;
}

/* 스와이퍼 스크롤 css */
#myskill .swiper {
    width: 100%;
    height: 100%;
  }

#myskill  .swiper-slide {
    font-size: 18px;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 30px;
  }
  /*contact  */


#navi h1 {
    line-height: 35px; height: 35px;
overflow: hidden;
}
#navi h1 span:first-child{
    transition: 0.5s;
    margin-top:0;
}
.scroll h1 span:first-child{
    margin-top:-35px !important;
}

.scroll #navi{
    background-color: white;
    color:#111;    
}
#navi #gnb > li > a{
    color: #efebe4;
}

.scroll #navi #gnb li a{
    color:#111  
}

#quick{
    position: fixed;
    
    bottom:0;
    transform: translateX(100%);
    transition: 0.7s;

    
}
#quick li{
    width:3rem;
    height:3rem;
    border-radius: 50%;
    background-color: transparent;
    overflow: hidden;
    margin: 5px;
}
.scroll #quick{
    
    transform: translateX(90);
    transition: 0.7s;
}
.scroll #quick li:hover{
    background-color: blueviolet;
    width:2rem;
    height:2rem;
    transition: 0.7s;
    

}

.scroll h1 span{color: #111;}



article.triangle:nth-child(1){   
    background-color: #ff0000;
       
}
article.triangle:nth-child(2){
    background-color:skyblue;
      
}
article.triangle:nth-child(3){ 
    background-color:slateblue;
      
}

.triangle {
    width: 30vw; 
    
    bottom:0%; right:10%;
    height: 30vh;
    border-radius: 18px;
   
    border-bottom: 0px solid skyblue;
    border-top: 15vh solid transparent;
    border-left: 0px solid skyblue;
    border-right: 0px solid transparent;
    transition: 0.5s;}
.triangle:hover{
    width: 35vw; 
    
    bottom:0%; right:10%;
    height: 35vh;
    border-radius: 18px;
    
    
    border-bottom: 30px solid rgb(255, 255, 255);
    border-top: 0px solid transparent;
    border-left: 0px solid rgb(255, 255, 255);
    border-right: 0px solid transparent;
    transition: 0.5s;

}